@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500&display=swap);

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
}





@media only screen and (max-width: 1024px) {
    .slider {
        width: 400px;
        height: 400px;
        background: url(assets/img/ArkihiveClient.png) no-repeat center center;
        margin: 0 auto;
        animation: slideshow 5s infinite;
    }
    @keyframes slideshow {
        15% {
            background-image: url(assets/img/bewakoofClient.png);
        }
        30% {
            background-image: url(assets/img/iprocureClient.png);
        }
        45% {
            background-image: url(assets/img/blackbuckClient.png);
        }
        60% {
            background-image: url(assets/img/fintsoClient.png);
        }
        75% {
            background-image: url(assets/img/iprocureClient.png);
        }
        90% {
            background-image: url(assets/img/zivogue.png);
        }
        100% {
            background-image: url(assets/img/vcollabClient.png);
        }
    }
}

.slidecontent {
    position: relative;
    padding-top: calc(13px + 1vw);
    line-height: 2em;
    margin: 0 auto;
    /* padding-bottom: 10em; */
}


.slidecontent > * {
    visibility: hidden;
    position: absolute;
    /* top: auto;
    left: auto; */
    width: 100%;
    height: 100%;

    animation: autoplay1 14s linear infinite;
}

@keyframes autoplay1 {
    0% {
        visibility: visible;
    }
    33.33% {
        visibility: hidden;
    }
}
.slidecontent > :nth-child(1), .slidecontent > :nth-child(2) {
    animation-delay: 0s;
}

.slidecontent > :nth-child(3), .slidecontent > :nth-child(4) {
    
    animation-delay: 4s;
}

.slidecontent > :nth-child(5), .slidecontent > :nth-child(6) {
    animation-delay: 8s;
}

.slidecontentend {
    margin-bottom: 60em;
}


@media only screen and (max-device-width: 1024px) {
    /* .word-slider {
        position: relative;
        display: flex;
        gap: 5em;
        width: 100%;
        /* margin: 0;
        left: 0; 
        animation: slider 20s infinite; 
    }

    .word-slider > :nth-child(1) {
        animation-delay: 0s;
    }
    .word-slider > :nth-child(2) {
        animation-delay: 2s;
    }
    .word-slider > :nth-child(3) {
        animation-delay: 4s;
    }

    @keyframes slider {
        0% {
            transform: translateX(0%);
        }
        50% {
            transform: translateX(50%);
        }
        75%{
            transform: translateX(75%);
        }
        90%{
            transform: translateX(90%);
        }
    } */
}

@media screen and (max-device-width: 810px) {
    .Header_navbarMenu {
        margin-right: -420% !important;
    }
}




/* .WordfromClient_wordsFromClientContent__lDiHf {
    animation: hideMe 2s infinite ease-in-out;
    animation-delay: 0s;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: -1;

}

.WordfromClient_wordsFromClientContent__lDiHf:nth-child(1) {
    animation-delay: 15s;
}

.WordfromClient_wordsFromClientContent__lDiHf:nth-child(2) {
    animation-delay: 25s;
}

@keyframes hideMe {
    0% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
} */


/* .contentDiv > div {
    position: absolute;
    color: transparent;
    opacity: 0;
    z-index: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    animation: imageAnimation 14s linear infinite;
    animation:  imageAnimation 14s linear infinite;
}

.contentDiv > div:nth-child(2) {
    animation-delay: 1s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.contentDiv > div:nth-child(3) {
    animation-delay: 5s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

@keyframes imageAnimation { 
    0% { opacity: 0; }
   10% { opacity: 1; }
   20% { opacity: 0; }
   30% { opacity: 1; }
   40% { opacity: 0; }
   50% { opacity: 1; }
   60% { opacity: 0; }
   70% { opacity: 1; }
   80% { opacity: 0; }
   90% { opacity: 1; }
  100% { opacity: 0; }
} */

/* .slidecontent {
 
} */



.header {
    position: fixed;
    width: 100vw;
    background-color: #fff;
    height: 100px;
    z-index: 100;
}

.header-utilties {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    margin: 0;
}

.header-utilties-1 {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
}

.casestudy-utilties {
    display: block;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    margin: 0;
}
.casestudy-utilties-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.card-utilties {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    margin: 0;
}
.card-utilties-1 {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
}

.card-utilties-2 {
    max-width: 100%;
    display: block;
    margin: 0;
    border: none;
    padding: 0;
}
.card-utilties-3 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.casestudy-utilties-1 {
    display: block;
    box-sizing: border-box;
    padding-top: 76.64756446991404%;
}
.header-activity {
    max-width: 100%;
    display: block;
    margin: 0;
    border: none;
    padding: 0;
}

.header .fixed-content {
    padding: 0 4% 0 6%;
    display: flex;
}

.header .logo {
    width: 43%;
}

.brand {
    padding: 30px 0;
    width: 40%;
}

.brand div img {
    cursor: pointer;
}

.header-menu {
    width: 75%;
    text-align: right;
    margin-top: 50px;
}

.header-dropdown {
    position: relative;
    display: inline-block;
}

.header-dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 230px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    right: 20px;
    top: 20px;
    overflow: hidden;
}

.header-dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
    font-weight: 500;
}

.header-dropdown-content a:hover {
    background-color: #f1f1f1;
}

.header-dropdown:hover .header-dropdown-content {
    display: block;
}

.header-dropdown:hover .header-downarrow img {
    transform: rotate(180deg);
    transition-duration: 0.5s;
}

.header-menuText {
    margin: 15px;
}

.Header_MenuText-Contactus__1aDq-,
.header-menuText {
    font-size: 14px;
    font-family: Poppins, sans-serif;
    color: #000;
    font-weight: 500;
}

.Header_MenuText-Contactus__1aDq- {
    padding: 10px 25px;
    border: 1.5px solid #000;
    border-radius: 100px;
}

.Header_MenuText-Contactus__1aDq-:hover {
    color: #fff;
    background-color: #000;
}

.Header_MenuText-Contactus-active__2M_C8 {
    padding: 10px 25px;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    border: 1.5px solid #000;
    border-radius: 100px;
    color: #fff;
    background-color: #000;
}

.Header_MenuText-active__15fGN {
    padding: 25px 0 5px;
    color: #000;
    border-bottom: 2px solid #000;
}

.Header_MenuText-active__15fGN,
.Header_MenuWhiteText__Zhq-s {
    margin: 25px;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
}

.Header_MenuWhiteText__Zhq-s {
    color: #fff;
}

.Header_MenuWhiteText-active__3euqE {
    margin: 0 25px;
    padding: 25px 0 5px;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    color: #fff;
    font-weight: 500;
    border-bottom: 2px solid #fff;
}

.Header_navbarMenu {
    float: right;
    padding: 40px 30px;
    margin-right: 4%;
    cursor: pointer;
    height: 100%;
}

.Header_navbarMenu:focus {
    background-color: transparent !important;
}

.header a {
    text-decoration: none;
}

.Header_service-underline__1hOii {
    border-bottom: 2px solid #000;
}

.header-downarrow {
    margin-left: 8px;
    margin-bottom: 3px;
    height: 10px;
}

.header-downarrow img {
    transform: rotate(0deg);
    transition-duration: 0.5s;
}

@media only screen and (max-width: 600px) {
    .brand {
        width: 50%;
        margin-left: 8%;
    }
    .Header_navbarMenu {
        float: right;
        height: 100%;
        padding: 40px 13px;
        margin-right: -322%;
    }
}

@media only screen and (min-width: 1600px) {
    .header .fixed-content {
        margin: auto;
        max-width: 1600px;
    }
}

@media only screen and (max-width: 1142px) {
    .logo {
        width: 100%;
    }
    .brand {
        margin-left: 3%;
        padding: 30px 0;
        width: 150px;
    }
    .header-menu {
        display: none;
    }
}

@media only screen and (min-width: 1143px) and (max-width: 1300px) {
    .logo {
        width: 30%;
    }
    .header-menu {
        width: 75%;
    }
}

@media only screen and (max-width: 450px) {
    .Header_navbarMenu {
        height: 95%;
        margin-right: -350% !important;
    }
}

@media only screen and (min-width: 1143px) {
    .Header_navbarMenu {
        display: none;
    }
}

.Footer_footer__cAlbN {
    width: 100%;
    display: flex;
}

.footer-icon {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.f-small {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    margin: 0;
}

.f-small-img {
    max-width: 100%;
    display: block;
    margin: 0;
    border: none;
    padding: 0;
}

.f-block {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
}

.Footer_footer-container__2sV0N {
    width: 100%;
}

.Footer_footer-first__2zUKa {
    background-color: #313543;
}

.Footer_footer-width-container__58y2j {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
    background-color: #313543;
    max-width: 1600px;
}

.Footer_footer-second__W2Bzu {
    background-color: #000;
}

.Footer_footer-width-container1__1ta2Q {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #000;
    max-width: 1600px;
}

.Footer_footerContent__7VC4E {
    color: #fff;
    font-family: Montserrat;
    font-weight: 400;
    margin: 4% 4% 4% 10%;
    width: 40%;
    line-height: 25px;
}

.Footer_footer-logo__qBvDo {
    padding-top: 8vh;
    width: 70%;
}

.Footer_footer-logo-img__37nvF {
    display: block;
    margin-left: 10%;
    margin-top: -1rem;
}

.Footer_footer-social__1MQcY {
    width: 100%;
    margin: 5vh 1% 8vh 0;
    color: #e6e6e6;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    display: grid;
    height: 8rem;
    text-align: right;
}

.Footer_footer-social__1MQcY a {
    text-decoration: none;
    margin-bottom: 1rem;
}

.Footer_footer-social__1MQcY a img {
    margin: 0 3.6%;
    width: 20%;
}

.Footer_footer-bottom__22Cf4 {
    background-color: #212129;
    text-align: center;
    color: #fff;
    font-family: montserrat;
}

.Footer_footer-caption__aom4Q {
    padding: 5vh 0;
    font-size: 2vh;
    margin-left: 6%;
    color: #fff;
    width: 56%;
    font-family: poppins;
}

.Footer_footer-social-policies__HZIsC {
    padding: 5vh 7px;
    font-size: 2vh;
    color: #e6e6e6;
    font-family: Poppins;
    font-weight: 300;
    display: grid;
}

.Footer_logoContainer__2ekiG {
    text-align: right;
    margin-top: 15%;
    margin-bottom: 10%;
}

.Footer_footer-links__1YJZ8 {
    width: 100%;
    margin-right: 15px;
}

.Footer_footer-links__1YJZ8 a {
    text-decoration: none;
    color: #fff;
    padding: 0 1%;
}

.Footer_footerDesc__2aqlk {
    padding-top: 8vh;
    width: 40%;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 30px;
}

.Footer_footer-mob__1q2EP {
    display: flex;
    width: 100%;
}

.Footer_footer-policy__X0ZTE {
    display: flex;
}

.Footer_TextColor__AhRaY {
    color: #fff;
    cursor: pointer;
}

.Footer_footerImage__EIEkl {
    width: 40px;
}

@media only screen and (min-width: 800px) and (max-width: 1025px) {
    .Footer_footer-social-policies__HZIsC {
        font-size: 1.5vh;
    }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
    .Footer_footer-social-policies__HZIsC {
        padding: 5vh 2px;
        font-size: 10px;
        width: 30%;
        text-align: center;
    }
    .Footer_footer-policy__X0ZTE {
        width: 55%;
    }
    .Footer_footer-caption__aom4Q {
        font-size: 10px;
    }
    .Footer_footer-social__1MQcY {
        width: 50%;
        font-size: 15px;
    }
    .Footer_footer-logo__qBvDo {
        padding-top: 13vh;
    }
}

@media only screen and (max-width: 800px) {
    .Footer_footer-width-container__58y2j {
        display: flow-root;
    }
    .Footer_footerContent__7VC4E {
        margin: 10% 4% 4% 12%;
        width: 100%;
    }
    .Footer_footer-logo-img__37nvF {
        margin-left: 12%;
    }
    .Footer_footer-social__1MQcY {
        width: auto !important;
        text-align: left;
        margin-right: 40px;
    }
    .Footer_logoContainer__2ekiG {
        text-align: left;
        margin-left: 8%;
        margin-top: 10%;
    }
    .Footer_footerDesc__2aqlk {
        width: 100%;
        padding-top: 0;
    }
    .Footer_footer-mob__1q2EP {
        margin: 8% 8% 1%;
        width: auto;
    }
    .Footer_footer-caption__aom4Q {
        width: 92%;
        margin-right: 8%;
        font-size: 2.5vh;
    }
    .Footer_footer-policy__X0ZTE {
        display: flex;
        margin: 0 8%;
    }
    .Footer_footerImages__5tWQr {
        text-align: center;
    }
    .Footer_footer-social-policies__HZIsC {
        width: 33.3%;
        padding-top: 0;
    }
    .Footer_footer-logo__qBvDo {
        padding-top: 13vh;
    }
}

@media only screen and (max-width: 375px) {
    .Footer_footer-caption__aom4Q {
        font-size: 2vh;
    }
    .Footer_footer-social-policies__HZIsC {
        font-size: 1.5vh;
    }
    .Footer_footer-logo__qBvDo {
        padding-top: 13vh;
    }
}

@media only screen and (min-width: 1600px) {
    .Footer_footer-container__2sV0N {
        margin: auto;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1025px) {
    .Footer_footerContent__7VC4E {
        width: 65%;
    }
}

@media only screen and (max-width: 400px) {
    .Footer_footer-mob__1q2EP {
        margin: 8% 8% 1%;
        width: auto;
        min-height: 300px;
    }
}
